@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

*
{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #EECC60, #FB6C34);
 }

 body::-webkit-scrollbar
 {
    width: 12px;
 }
 body::-webkit-scrollbar-track
 {
    background: #FB6C34;
 }
 body::-webkit-scrollbar-thumb
 {
    background-color: #EECC60;
    border-radius: 10px;
    border: 2px solid #EECC60 ;
 }

 .cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
 }

 .logo
 {
    height: 60px;
 }

 .navegacao
 {
    display: flex;
    gap: 32px;
 }
.cabecalho-menu
{
    font-family: 'Sarala', sans-serif;
    color: #ffffff		;
    font-weight: 400px;
    font-size: 18px;
    cursor: pointer;
    margin: 20px;
}

.voltar
{
    background-color: #EECC60;
    width: 80px;
    height: 40px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.096);
    border-radius: 25px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400px;
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    left: 100px;
}

.voltar:hover{
    background-color: #edbb15;
}

.conteudo
 {
    margin-bottom: 48px;
    border-top: solid 0.4px #ffffff;
 }

 .conteudo-principal
 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
 }
 .conteudo-principal-escrito
 {
    display: flex;
    flex-direction: column;
    gap: 32px;
 }
 .conteudo-principal-escrito-titulo
{
    font-family: 'Righteous', cursive;
    font-weight: 400px;
    font-size: 64px;
    color:#ffffff;
    margin: 20px;
}
.conteudo-principal-escrito-subtitulo
{
    font-family: 'Sarala', sans-serif;
    font-weight: 400px;
    font-size: 24px;
    color:#ffffff;
    margin:20px;
}
.texto-principal{
    font-family: 'Sarala', sans-serif;
    font-weight: 400px;
    font-size: 18px;
    line-height: 30px;
    padding: 20px;
    margin: 20px;
    text-align: justify;
    color: #ffffff;
}


.img-da-ong
{
    height: 430px;
    padding-top: 40px;

}
.conteudo-secundario
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:24px;
    margin-top: 48px;
}

.items
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

 .item
{
    display: flex;
    padding: 10px;
    margin: 15px 0;
    font-family: 'Sarala', sans-serif;
    font-weight: 300px;
    font-size: 18px;
    color: #ffffff;
}


.conteudo-secundario-titulo
{

    border-top: 0.4px solid #ffffff;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400px;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 16px;
}



.rodape
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:24px;
    margin-top: 48px;
    border-top: 0.4px solid #ffffff;
    padding: 32px;
}

.desenvolvido{
    color: #ffffff;
    font-family: 'Sarala', sans-serif;
    font-weight: 300px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.logo-rodape{
    height: 48px;
    display: block;
    margin: 0 auto;
}