 @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
 }

 body{
    font-size: 100%;
    background: #E8C2DB;
 }


 body::-webkit-scrollbar
 {
    width: 12px;
 }
 body::-webkit-scrollbar-track
 {
    background: #E8C2DB;
 }
 body::-webkit-scrollbar-thumb
 {
    background-color: #FFF7EB;
    border-radius: 10px;
    border: 2px solid #FFF7EB ;
 }


 .cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
 }

 .logo
 {
    height: 60px;
    border-radius: 100%;
 }

 .navegacao
 {
    display: flex;
    gap: 32px;

 }


 .cabecalho-menu{
    font-family: 'Sarala', sans-serif;
    color: #627ABD		;
    font-weight: 400px;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.5s;
 }
 .cabecalho-menu:hover
 {
   transform:scale(1.1)

 }

 .conteudo
 {
    margin-bottom: 10vh;
    border-top: solid 0.4px #627ABD;
 }

 .conteudo-principal
 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
 }

 .conteudo-principal-escrito
 {
    display: flex;
    flex-direction: column;
    gap: 32px;
 }
.conteudo-principal-escrito-titulo
{
    font-family: 'Righteous', cursive;
    font-weight: 400px;
    font-size: 64px;
    color:#627ABD;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.conteudo-principal-escrito-subtitulo
{
    font-family: 'Sarala', sans-serif;
    font-weight: 400px;
    font-size: 24px;
    color:#ffffff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.button-principal{
    background-color:#627ABD;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0,0,0,0.096);
    border-radius: 25px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400px;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.5s;
}


.button-principal:hover{
    background-color: #93AAE8;
    transform:scale(1.1)


}

.img-logo-projeto{
    height: 430px;
    border-radius: 100%;


}
.conteudo-secundario
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:24px;
    margin-top: 48px;
}
.conteudo-secundario-titulo
{
    border-top: 0.4px solid #627ABD;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400px;
    font-size: 24px;
    color: #627ABD;
    margin-bottom: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.conteudo-secundario-paragrafo{
    font-family: 'Sarala', sans-serif;
    font-weight: 300px;
    font-size: 18px;
    color: #627ABD;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.conteudo-secundario-paragrafo strong {
   transition: transform 0.5s;
   
 }
 .conteudo-secundario-paragrafo strong:hover {
   transform: scale(1.1);
 }


.rodape
{
    border-top: 0.4px solid #627ABD;
    padding: 32px;
}

.desenvolvido{
    color: #627ABD;
    font-family: 'Sarala', sans-serif;
    font-weight: 300px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}